<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweet detail</title>
</head>
<body>
    <h1>User Info</h1>
    <hr>
    <p> USER ID => <%= tweet.id %></p>
    <br>
    <p> USERNAME => @<%= tweet.username %></p><br>
    <p> USER TWEET => <%= tweet.tweet %></p>

    <hr>
    <hr>

</body>
</html>
